[Unit]
Description=rpi-kvm
After=multi-user.target
 
[Service]
Type=forking
ExecStart=/home/nateh/rpi-kvm/rpi-kvm.sh restart
WorkingDirectory=/home/nateh/rpi-kvm
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
