@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
  color: white;
  background-color: black;
}

/* Use Bootstrap mixins to a big button for the reTerminal touchscreen */
.btn-huge {
  padding: 4rem 5rem;
  font-size: 3rem;
}